 @font-face {
    font-family: america;
    src: url(./GT-America-Compressed-Bold\ \(1\).ttf);
 }
 @font-face {
    font-family: america-b;
    src: url(./GT-America-Condensed-Black-Trial.otf);
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
*::selection{
    color: white;
    background-color: black;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 10px 20px;
    z-index: 99;
}

#nav h3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
  
}

@keyframes animate{
    0%{
        left: 0;
        width: 0;

    }
    50%{
        left: 0;
        width: 100%;
    }
    100%{
        left: 100%;
        width: 0;
    }
}
#nav h3:hover::after{
    background-color:#c45508 ;
    animation-duration: 2s;
    animation-name: animate;
 
   
}

#nav h3{
    font-family: america;
    text-transform: uppercase;
    color:#c45508;
    font-size: 30px;
   
    
}

#page1{

  height: 100vh;
  width: 100%;
  background-image: url("https://cdn.sanity.io/images/sjvffa0f/production/b66561b8981387290c0f682665512759c66aa7bb-2880x1796.png/image.png?rect=1,0,2878,1796&bg=F2F1EC&w=1024&h=639&auto=format");
  background-size: cover;
  background-position:  center;
  /* overflow: hidden;
  position: relative; */
}
#page1 svg{
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%) scale(1.4);
     z-index: 99;
}

#page1 h1{
    font-size: 11vw;
    text-align: center;
    width: 100%;
    padding: 0 10px;
    position: absolute;
    bottom: -5%;
    color: #c45508;
    text-transform: uppercase;
    font-weight: 900;
    font-family: america-b;
    /* z-index: 999; */
}
#page1 h1::before{
    content: "bownds ranches .est.1885";
    position: absolute;
    font-size: 1.1vw;
    font-family: "gilroy";
    font-weight: 500;
    left: 4.7vw;
}
#page1 h1::after{
    content: "marketting and selling texas ranches";
    position: absolute;
    right: 4.1vw;
    font-size: 1.1vw;
    font-family: "gilroy";
    font-weight: 500;
}
#overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  /* background-color: red; */
}
#scroll{
    background-image: url("https://bowndsranches.com/textures/buttonDarkBg.svg");
    padding: 8px 20px;
    font-family: america;
    word-spacing: 5px;
    color: white;
    position: absolute;
    text-transform: uppercase;
    scale: 0;
    transition: all ease-out 0.3s;
}

/*Page2*/

#page2{
    height: 100vh;
    width: 100%;
    position: relative;
}
#page2 h1{
    font-size: 10vw;
    font-family: america-b;
    line-height: 9vw;
    word-spacing: 6px;
    letter-spacing: -4px;
    text-align: center;
    color: #111;
    background-color: white;
    padding: 100px 100px;


}
